.wrapper{
	width: auto;
	height: auto;
	font-family: 'GothamBook';
	
}

.top-header{
	background-color: #fff;
	height: auto;
	border-bottom: 5px solid #5c2684 !important;
	background-color: #f5f3e6;
	padding-bottom: 20px;
}

img.logo{
    height: 90px;
    margin-left: 60px;
   padding-top: 14px;
}
ol, ul.pull-right {
	list-style: none;
	padding-top: 30px !important;
	margin-right: 60px;
	
}
.top-header li{
	text-align: right !important;
	font-family: 'GothamBold' !important;
	color: #53358f;
	font-size: 18px;
	font-weight: bold;

}

li span{
	color: #8f138f !important;
}
.welcome-content{
	
	padding-top: 24px;	
}
.welcome-content h2{
	font-family: 'GothamBold' !important;
	color: #8f1396;
	font-size: 48px;
	font-weight: bold;
	margin-top: 0px !important;
	margin-left: 150px;

}

.welcome-content p{
	font-family: 'GothamLight' !important;
	color: #53338e;
	font-size: 24px;
	margin-left: 150px;
}
img.img-responsive.computer{
	margin-top: 40px !important;
}
button.btn.btn-warning.imge-btm {
    color: #53338e !important;
    background-color: #ffc243 !important;
    border-color: #ffc243 !important;
    margin-top: -68px !important;
    margin-left: 120px !important;
}

.open-acct h3{
	color: #8f1396;
	font-weight: bold !important;
	font-family: 'GothamBold' !important;
	font-size: 20px !important;
}
.open-acct li{
	color: #53338e;
	font-family: 'GothamLight' !important;

}
ul {
	list-style: none;
}
.open-acct li::before {
    content: "•";
    color: #8f1396;
    display: inline-block;
    width: 1em;
    margin-left: 0em;
    font-weight: bold;
}

.panel-group {
    margin-bottom: 25px !important;
    margin-left: 20px;
    margin-right: 25px;
}
.panel-group .panel{
	border-radius: 0px !important;
}
.panel-default>.panel-heading {
    color: #000 !important;
    background-color: #f8b517 !important;
    border-color: #f8b517;
    font-family: 'GothamBold' !important;
}
.panel.panel-default :hover {
    text-decoration: none;
}
.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: white;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.panel-body p{
	color: #ce1d5a !important;
	font-family: 'GothamLight' !important;
}

.btn-warning {
    color: #53338e !important;
    background-color: #ffc243 !important;
    border-color: #ffc243 !important;
    margin-left: 145px !important;
    font-family: 'GothamLight' !important;
}
p.support {
    padding-top: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: right;
    padding-right: 35px;
}
.footer{
	background-color: #5c258a;
	color: #fff;
	font-family: 'GothamLight' !important;
	text-align: center;
	height: 50px;
	margin-top: 25px;
}
.footer h6{
	padding-top: 15px;
}

.footer a{
	text-decoration: none;
	color: #fff;
}
 a.footer :hover{
	color: #fff;
	text-decoration: none;
}


@media only screen and (max-device-width : 768px){
	.top-header li {
    font-size: 15px;
}}

@media only screen and (max-device-width : 480px){
.welcome-content p {
    font-size: 19px;
    margin-left: 85px;
}

.welcome-content h2 {
    font-size: 42px;
    margin-top: 0px !important;
    margin-left: 85px;
}

button.btn.btn-warning.imge-btm {
    margin-top: -15px !important;
    margin-left: 50px !important;
}

.btn-warning {
    margin-left: 15px !important;
}

p.support {
    padding-top: 4px;
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    padding-right: 35px;
}

.open-acct h3 {
    font-size: 17px !important;
}
}

@media only screen and (max-device-width : 320px){
	.welcome-content h2 {
    font-size: 35px;
    margin-top: 0px !important;
    margin-left: 56px;
}

.welcome-content p {
    font-size: 17px;
    margin-left: 56px;
}

.open-acct h3 {
    font-size: 13px !important;
}

.btn-warning {
    margin-left: 2px !important;
}
p.support {
    padding-top: 9px;
    font-size: 12px;
    font-weight: bold;
    text-align: right;
    padding-right: 4px;
}}





@media only screen and (max-device-width : 480px){
	ol, ul.pull-right {
    margin-top: -52px !important;
    margin-right: 4px;
}
img.logo {
    height: 65px;
    margin-left: 18px;
    margin-top: 14px;
}
.top-header li {
    font-size: 14px !important;
}