/* CSS Document */
@font-face{
	font-family:'Gotham-Book';
	   src: url('fonts/Gotham-Book.eot');
		 src: url('fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Gotham-Book.woff') format('woff'),
		   url('fonts/Gotham-Book.ttf') format('truetype'),
		   url('fonts/Gotham-Book.otf') format('truetype'),
		   url('fonts/Gotham-Book.svg#AvenirLT-Medium') format('svg');
	  font-style:normal;
  } 
  
  @font-face{
	font-family:'Gotham';
	   src: url('fonts/Gotham-Medium.eot');
		 src: url('fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Gotham-Medium.woff') format('woff'),
		   url('fonts/Gotham-Medium.ttf') format('truetype'),
		   url('fonts/Gotham-Medium.otf') format('truetype'),
		   url('fonts/Gotham-Medium.svg#AvenirLT-Medium') format('svg');
	  font-style: normal;
	  font-weight:500;
  } 
  
  @font-face{
	font-family:'Gotham';
	   src: url('fonts/Gotham-Light.eot');
		 src: url('fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Gotham-Light.woff') format('woff'),
		   url('fonts/Gotham-Light.ttf') format('truetype'),
		   url('fonts/Gotham-Light.otf') format('truetype'),
		   url('fonts/Gotham-Light.svg#AvenirLT-Medium') format('svg');
	  font-style:normal;
	  
  } 
  
  
  
  @font-face{
	font-family:'Gotham';
	   src: url('fonts/Gotham-Bold.eot');
		 src: url('fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		   url('fonts/Gotham-Bold.woff') format('woff'),
		   url('fonts/Gotham-Bold.ttf') format('truetype'),
		   url('fonts/Gotham-Bold.otf') format('truetype'),
		   url('fonts/Gotham-Bold.svg#AvenirLT-Medium') format('svg');
	  font-style: normal;
	  font-weight:700;
  } 


body{
	font-family:"Gotham","Open Sans",Helvetica,Arial,sans-serif,Arial !important;	
	font-size:13px;
}


.wrapper .fcmb-top-banner {  
  background: url('image/banner.jpg') no-repeat 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 50px;
}
.wrapper .fcmb-footer-banner {  
  background: url('image/footer-banner.jpg') no-repeat 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 50px;
    text-align: right;
}
.fcmb-footer-banner p{ 
	color: #fff;
	font-size: 18px;
	padding: 12px 127px 0 0;
	}

	.fcmb-footer2-banner { 
		padding-top: 20px;
	}
	.footer-text{
		padding-top: 20px;
	}
.footer-text ul li a{
	float: left;
	text-decoration: none;
	padding: 0 5px;
	color: #484852;
	text-transform: uppercase;
}
.footer-text ul li{
	list-style-type: none;
	padding: 0 5px;
}
.fcmb-footer2-banner .social-media ul li a{
	float: left;
	text-decoration: none;	
	display: inline-table;
}
.fcmb-footer2-banner .social-media ul li{
	list-style-type: none;
}

.top-banner2{
	background-color: #fff;
	padding: 20px;
	text-align: right;
	border-bottom: 8px solid #5c2684;
}
.fcmb-online{
	color: #53358f;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
.fcmb-acct{
	color: #8f138f;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
}
 
.no-pad{
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.social-media ul li{
        	margin-left: 200px;
        }
.detail-row{
	background-color: #5c258a;
	padding: 10px 40px;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 0px;
}
.detail-container{
	margin-top: 10px;
	margin-bottom: 10px;
}
.form-rows{
	margin-bottom: 10px;
}
.form-row1{
	padding: 20px 0px 15px 0px;
}
.form-row1 label{
	text-align: right;
	color: #3d3d46;
	font-weight: 400 !important;
	text-transform: capitalize;
}
.form-row2{
	padding: 20px 0px 15px 0px;
}
.form-row2 label{
	text-align: right;
	color: #3d3d46;
	font-weight: 400 !important;
	text-transform: capitalize;
}
.form-div .star{
	color: red;
}
.form-div{
	background-color: #f1f1f1;
}
.form-row1 select{
	    padding: 5px !important;
    	border: none;
    	
}
.form-row1 .form-control{
	background-color: #fff !important;
	margin-left: 0px !important;
	border: none !important;
}
.form-row1 .input-control{
	background-color: #fff !important;
	margin-left: 0px !important;
	border: none !important;
}
.form-row1 .input-group-addon{
	background-color: #fff !important;
	border: none !important;
	border-radius: 0px !important;
}
.form-row2 .form-control{
	background-color: #fff !important;
	margin-left: 0px !important;
	border: none !important;
}
.form-row2 .input-group-addon{
	background-color: #fff !important;
	border: none !important;
	border-radius: 0px !important;
}

.form-row2 select{
	    padding: 5px !important; 
	    border: none;   
}
.form-row2 input{
	    padding: 8px !important;
	    border: none;
}
.director-row{
	font-size: 18px;
	padding:10px 0px 0px 13px;
	color: #838383;
}

.valid-btn{
	background-color: #ffc243;
	font-size: 14px;
	color: #53338e;
	border: none !important;
	padding: 10px 25px;
	border-radius: 4px;
	margin-left: -80px;
}
.upload-btn{
	background-color: #ffc243;
	font-size: 14px;
	color: #53338e;
	border: none !important;
	padding: 10px 5px;
	border-radius: 4px;
	margin-left: 12px;
}
.go-back{
	text-align: center; 
	margin-left: -157px;
	}
.help-btn{
	background-color: #5c2684;
	color: #fff;
	font-size: 18px;
	border: none !important;
	border-radius: 4px !important;
	padding: 10px 25px;
}

	/* The popup (background) */



form .search-input{
	background-color: transparent !important;	
	border: 0px !important;
	font-size: 48px;
	color: #fff !important;
	margin-top: 110px;
	text-align: left;
	margin-top: 22%;
}

.close {
	float: right;
    font-size: 48px;
    font-weight: 684;
    line-height: 1;
    color: #fff important;
    text-shadow: 0 1px 0 #53338e;
}


.myNav-overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1999;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.43);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content form{    
    text-align: right;
   
}

.myNav-overlay a {
    padding: 8px;
    text-decoration: none;
    color: #fff;
    display: block;
    transition: 0.3s;
}
a#navo :hover, a#navo :focus{
	text-decoration: none !important;
	}
.mainmenu .myNav-overlay .closetag{
	width: 94px;
	padding: 0;
	height: 42px;
	position: absolute;
	text-align: center;
	color: #fff!important;
   
}
.close-txt{
	font-size: 18px;
	position: absolute;
	left: 10px;
	top: 6px;
}
.close-times{
	font-size: 32px;
    position: absolute;
    top: 106px;
    right: 53px;
    z-index: 1;
    color: #53338e;
}
.myNav-overlay .closetag{
	top: 15px;
	right: 35px;
}

.myNav-overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.modal-form{
	background-color: #f1f1f1;
    margin-top: 5%;
    padding-top: 54px;
}
.term-condition .condition{
	color: #53338e;
	 font-size: 20px; 
	 text-align: left;
	  padding-left: 85px;
}



/* media queries   */
/*********min-width: 1366px*********/
@media (min-width: 1367px) {
        .wrapper {
            width: 1367px;
            margin: 0px auto;
        }
}
@media (max-width: 1024px) {
        .social-media ul li{
        	margin-left: 80px !important;
        }
        .close-times{
        	top: 65px !important;
        }
        .save-btn{
        	padding-top:0px !important;
        }
        .term-condition .condition{
        	padding-left: 24px !important;
        }
        .tick{
        	padding-left: 16px !important; 
        }
    }

@media (max-width: 769px) {
        .text-right{
        	text-align: center !important;
        }
         .close-times{
        	top: 52px !important;
        }
        .fcmb-acct {	    
	    font-size: 19px !important;
		}
		.fcmb-logo{
			width: 70px !important;
			height: 70px !important;
		}
		.condition{
			padding-left: 12px !important;
		}
		.tick {
		    padding-left: 38px !important;
		}
		.go-back{
			margin-left: -81px !important;
		}
}


@media (max-width: 480px) {
        .social-media ul li {
		     margin-left: 0px !important; 
		}
		 .text-right{
        	text-align: center !important;
        }
         .close-times{
        	top: 52px !important;
        }
        .detail-row{
        	font-size: 15px !important;
        }
        .go-back {
		    margin-left: -308px !important;
		}
		.tick {
		    padding-left: 29px !important;
		}
		.term-condition .condition {
		    padding-left: 13px !important;
		}
}
@media (max-width: 425px) {
        .social-media ul li {
		     margin-left: 0px !important; 
		}
		.term-condition .condition{
			padding-left: 8px !important;
		}
		.detail-row{
        	font-size: 15px !important;
        }
        .go-back {
		    margin-left: -263px !important;
		}
}
@media (max-width: 375px) {
        .social-media ul li {
		     margin-left: 0px !important; 
		}
		.detail-row {
		    font-size: 12px !important;
		}
		.fcmb-acct {
		    font-size: 17px !important;
		}
		.fcmb-online{
			font-size: 20px !important;
		}
		.go-back {
		    margin-left: -214px !important;
		}
		.tick {
		    padding-left: 17px !important;
		}

}
@media (max-width: 320px) {
        .social-media ul li {
		     margin-left: -6px !important; 
		}
		.modal-form{
			margin-top: -16% !important;
		}
		.close-times {
		    top: -9px !important;
		    right: 34px !important;
		}
		label{
			margin-bottom: 0px !important;
		}
		.upload-btn{
			padding: 3px 5px !important;
		}
		.valid-btn{
			padding: 10px 10px;
		}
		.detail-row {
		    font-size: 9px !important;
		}
		.fcmb-acct {
		    font-size: 14px !important;
		}
		.go-back {
		    margin-left: -155px !important;
		}
}