

.margin-bottom-0{
    margin-bottom: 0 !important;
}

.margin-top-5{
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-top-40{
    margin-top: 40px;
}

.margin-top-50{
    margin-top: 50px;
}

.display-none{
    display: none;
}

.set-error{
    color: #ff4c52;
    font-weight: 600;
    padding: 5px 0 0 5px;
    display: block;
}


.card.card-theme{
    background-color: #F1F1F1;
}

.card.card-theme .card-header{
    background-color: #5D1F8C;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600
}

.color-theme, a.color-theme{
    color: #5D1F8C !important;
}

.color-theme-light, a.color-theme-light{
    color: #a94eae;
}

.col-form-label {
    padding-top: -webkit-calc(.429rem + 1px);
    padding-top: calc(.429rem + 1px);
    padding-bottom: -webkit-calc(.429rem + 1px);
    padding-bottom: calc(.429rem + 1px);
    margin-bottom: 0;
    line-height: 1.571429;
}

.card-format-form h1, .card-format-form h2, .card-format-form h3,
.card-format-form h4, .card-format-form h5, .card-format-form h6{
    margin-top: 0;
    font-weight: 600;
    color: #999;
    margin-bottom: 20px;
    position: relative;
}

.card-format-form h4 button{
    float: right;
    font-size: 10px;
    font-weight: 500;
    padding: 5px 8px;

}

.card-format-form .form-control-box{
    padding-top: 7px;
    padding-bottom: 7px;
}

.card-format-form hr.divider{
    background-color: #d1d1d1;
    margin-right: -20px;
    margin-left: -20px;
    height: 1px;

}

.card-format-form .input-group{
    width: 100%
}

.card-format-form .form-group{
    margin-bottom: 10px;
}

.card-format-form .col-form-label span{
    color: red;
}

.card-format-form .col-form-label{
    text-align: right;
}

.btn.btn-theme{
    background-color: #ffc243;
    color: #53338e;
    font-weight: 600;
    font-size: 11px;
    border-radius: 3px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-transform: uppercase;
}

.form-control[readonly]{
    background-color: rgb(252, 250, 250);
    opacity: 1;

}


.card-format-form.summary .form-group [class^='col-']:first-child{
    text-align: right;
    color: #999;
}

.card-format-form.summary .form-group [class^='col-']:last-child{
    font-weight: 500;
}



.uploader-container{
    height: 34px;
    position: relative;
}

.uploader-container.row{
    margin-left: -5px;
    margin-right: -5px;
}

.uploader-container [class^='col-']{
    padding-left: 5px;
    padding-right: 5px;
}


.uploader-container .info-container{
    height: 34px;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
}

.uploader-container .info-container .progress{
    height: 34px;
    margin: 0;
    border-radius: 3px;
}

.uploader-container .info-container .msg-box{
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: #fff;
    overflow: hidden;
}

.uploader-container .btn{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

a.download-link{
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
    color: #555;
}









@media (max-width: 769px){
    
}



